[user]
	name = Saskia Hiltemann
	email = zazkia@gmail.com
	signingkey = 0BFB5253
[commit]
	gpgsign = true
[push]
	default= current
[alias]
  # human git aliases (http://gggritso.com/human-git-aliases)
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	nevermind = !git reset --hard HEAD && git clean -d -f
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = diff --name-only --diff-filter=U
	glol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	glol2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[diff]
	tool = vimdiff
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent
