[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/nerdtree-git-plugin"]
	path = vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
